<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Milestone</title>
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
<body>
<div class="logout">
    <form method="POST" action="/logout">
        <button type="submit" name="logout" value="Logout" class="button special">Logout</button>
    </form>
</div>
<div>
    <main>

        <h1>Edit Milestone {{title}}</h1>

        <br>
            <form action="/editMilestone" method="POST">

                <table class="alt">
                    <thead>
                    <tr>
                        <th>Milestone</th>
                        <th>Description</th>
                        <th>Due Date</th>
                        <th>Completion Date</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" value="{{title}}" name="title" id="title"/>
                                <label for="title"></label>
                            </td>
                            <td>
                                <input type="text" value="{{description}}" name="description" id="description"/>
                                <label for="description"></label>
                            </td>
                            <td>
                                <input type="date" value="{{dueDate}}" name="duedate" id="duedate"/>
                                <label for="duedate"></label>
                            </td>
                            <td>
                                <input type="text" value="{{completionDate}}" name="completiondate" id="completiondate"/>
                                <label for="completiondate"></label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--//<input type="hidden" name="method" value="delete">-->
                <input type="submit" name="method" value="Save Changes" class="button alt"/>
            </form>



    </main>
</div>
</body>
</html>